/data/bike_drop
/data/bike_drop copy
/data/bike_pick
/data/nyc_bike
/data/taxi_drop
/data/taxi_drop copy
/data/h5data
/data/taxi_pick

/csv_data

/data/evdata/test.npz
/data/evdata/train.npz
/data/evdata/val.npz



/__pycache__/

/logs/